﻿
<form>
    <fieldset class="border w-50 rounded container">
        <legend id="timeZoneName"></legend>
        <div class="row">
            <div class="col-sm">
                <label>Local Time</label>
            </div>
            <div class="col-sm">
                <label id="localTime"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label>Local UTC Time</label>
            </div>
            <div class="col-sm">
                <label id="utcTime"></label>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <label>Change Time Zone</label>
            </div>
            <div class="col-sm">
                <select id=timeZonesList selected="selectedTimeZone" onchange="TimeZoneChanged(this)" class="dropdown"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm w-25">
                <button type="submit" onclick="return UpdateTimeDisplay()" >Update</button>
            </div>
            <div class="col-sm w-25">
                <button type="submit" onclick="return GetRecords()">Get Records</button>
            </div>
        </div>
       

    </fieldset>

</form>
<div class="border w-75 rounded m-auto container">
    <div class="row">
        <table id="recordsTable" class="table"></table>
    </div>
</div>








